.reservation-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 80vh; // Ajuster la hauteur selon vos besoins
    overflow-y: auto; // Ajouter un scroll vertical quand le contenu dépasse la taille du conteneur
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;

    .form-section {
      margin-bottom: 15px;
    }

    .form-section label {
      font-weight: 600;
      margin-bottom: 5px;
      display: block;
      color: #333;
    }

    .form-section input,
    .form-section mat-select {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    .form-section button {
      background-color: #ff6f61; /* Exemple de couleur */
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ff4c3f; /* Couleur au survol */
      }
    }
  }

  .scroll-container {
    max-height: 400px;  /* Limiter la hauteur selon l'écran */
    overflow-y: auto;   /* Défilement vertical */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }