<form [formGroup]="reservationForm" (ngSubmit)="createReservation()" class="reservation-form">
    <!-- Client Information -->
    <div class="form-section">
      <label for="name">Nom</label>
      <input id="name" formControlName="name" type="text" required />
    </div>

    <div class="form-section">
      <label for="surname">Prénom</label>
      <input id="surname" formControlName="surname" type="text" required />
    </div>

    <div class="form-section">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
    </div>

    <div class="form-section">
      <label for="phone">Téléphone</label>
      <input id="phone" formControlName="phone" type="tel" required />
    </div>

    <!-- Shop Selection -->
    <div class="form-section">
      <label for="shop">Sélectionnez une boutique</label>
      <mat-select formControlName="shop" (selectionChange)="onShopChange()">
        <mat-option *ngFor="let shop of shops" [value]="shop.id">{{ shop.name }}</mat-option>
      </mat-select>
    </div>

    <!-- Salon Selection -->
    <div class="form-section" *ngIf="salons.length">
      <label for="salon">Sélectionnez un salon</label>
      <mat-select formControlName="salon" (selectionChange)="onSalonChange()">
        <mat-option *ngFor="let salon of salons" [value]="salon.id">{{ salon.name }}</mat-option>
      </mat-select>
    </div>

    <!-- Availability Selection -->
    <div class="form-section" *ngIf="availabilities.length">
      <label for="availability">Sélectionnez une disponibilité</label>
      <mat-select formControlName="availability" [(value)]="selectedAvailabilityId">
        <mat-option *ngFor="let availability of availabilities" [value]="availability.id">
          {{ availability.date }}
        </mat-option>
      </mat-select>
    </div>

    <!-- Time Slot Selection -->
    <div class="form-section" *ngIf="selectedAvailabilityId">
      <label for="timeSlot">Sélectionnez un créneau horaire</label>
      <mat-select formControlName="timeSlot" required>
        <mat-option *ngFor="let timeSlot of getTimeSlotsForAvailability(selectedAvailabilityId)" [value]="timeSlot">
          {{ timeSlot }}
        </mat-option>
      </mat-select>
    </div>

    <!-- Submit Button -->
    <div class="form-section">
      <button mat-raised-button type="submit" >Réserver</button>
    </div>
  </form>