.status-confirmed {
    color: green;
  }
.status-pending {
    color: orange;
  }
  .search-bar {
    margin-bottom: 20px;
    padding-left: 10px;
  }

  button[mat-icon-button] {
    margin-right: 8px;
  }