<h2 mat-dialog-title class="dialog-title">Ajouté un employé</h2>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="addEmployeeForm" class="edit-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="lastName" placeholder="Nom">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstName" placeholder="Prénom">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date de naissance</mat-label>
        <input matInput formControlName="birthdate" type="date" placeholder="Date de naissance">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Type de contrat</mat-label>
        <mat-select formControlName="contratType">
          <mat-option value="CDI">CDI</mat-option>
          <mat-option value="CDD">CDD</mat-option>
          <mat-option value="Stage">Stage</mat-option>
          <mat-option value="Freelance">Freelance</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Salaire</mat-label>
        <input matInput formControlName="salary" type="number" placeholder="Salaire">
      </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sexe</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Masculin</mat-option>
          <mat-option value="female">Féminin</mat-option>
          <mat-option value="other">Autre</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Numéro CNI</mat-label>
        <input matInput formControlName="cniNumber" placeholder="Numéro CNI">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Poste</mat-label>
        <input matInput formControlName="position" placeholder="Poste Actuel">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phone" placeholder="Téléphone">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()" class="cancel-button">Annuler</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="addEmployeeForm.value" class="save-button" (click)="onSaveClick()">
    Créer
  </button>
</div>
