<div class="payment-methode-container">
    <h2>Ajouter une Méthode de Paiement</h2>

    <form [formGroup]="paymentMethodeForm" (ngSubmit)="addPaymentMethode()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom de la méthode</mat-label>
        <input matInput formControlName="name" placeholder="Ex: Carte Bancaire">
      </mat-form-field>

      <div class="button-group">
        <button mat-button color="warn" type="button" (click)="closeModal()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="paymentMethodeForm.invalid">Ajouter</button>
      </div>
    </form>
  </div>