<mat-sidenav-container class="home-container">
    <mat-sidenav-content>
      <!-- Barre de navigation -->
      <mat-toolbar class="main-toolbar light-blue-toolbar">
        <span class="app-title">Mon Compagngy</span>
        <span class="spacer"></span>
      </mat-toolbar>
      <mat-toolbar class="sub-toolbar black-toolbar">
        <div class="d-flex justify-content-center align-items-center mx-auto">
          <a mat-button routerLink="">Products</a>
          <a mat-button routerLink="/public/reservations">Reservations</a>
          <a mat-button routerLink="/public/abonnements">Abonnements</a>
          <a mat-button routerLink="/public/apropos">A Propos</a>
        </div>
      </mat-toolbar>
      

      <div class="shop-container" style="margin-top: -100px; margin-bottom: 100px">
        <div *ngFor="let abonnement of abonnementList" class="shop-card" (click)="detailAbonnementRedirect(abonnement)">
          <div class="shop-card-image">
            <img mat-card-image [src]="abonnement?.image_url" alt="{{ abonnement?.name }}" class="img-fluid">
          </div>
          <div class="shop-card-content">
            <h3>{{ abonnement.name }}</h3>
            <p>{{ abonnement.description }}</p>
            <p>{{ abonnement.price }} Fcfa</p>
          </div>
        </div>
      </div>
      <!-- Pied de page -->
      <div class="footer">
        <span>&copy; {{ currentYear }} Teranga Shop</span>
        <div class="social-links">
          <a href="https://facebook.com"><mat-icon>facebook</mat-icon></a>
          <a href="https://twitter.com"><mat-icon>twitter</mat-icon></a>
          <a href="https://instagram.com"><mat-icon>instagram</mat-icon></a>
        </div>
      </div>


    </mat-sidenav-content>

  </mat-sidenav-container>