<div class="breadcrumb">
    <a mat-button routerLink="/employements" routerLinkActive="active-link"
      >Gestion des ventes</a
    >
    <span> > </span>
    <a
      mat-button
      routerLink="/clients"
      class="active"
      routerLinkActive="active-link"
      >Gestion des Clients</a
    >
  </div>

  <div class="salon-container">
    <mat-toolbar class="toolbar">
      <span class="toolbar-title">Gestion des Salon</span>
      <span class="spacer"></span>
      <button mat-raised-button class="create-button" (click)="createSalon()">
        <mat-icon>add</mat-icon> Créer une Salon
      </button>
    </mat-toolbar>
  </div>

  <div class="container">
    <div>
      <app-list-salon></app-list-salon>
    </div>
  </div>
