<mat-toolbar color="primary" class="appointment-toolbar">
    <span class="title">Annonces</span>
    <span class="spacer"></span>
    <button mat-button color="accent" (click)="openCreateAppointmentDialog()">
        Créer Rendez-vous
    </button>
</mat-toolbar>

<!-- Div pour les boutons radio de vue -->
<div class="view-options">
    <mat-radio-group [(ngModel)]="selectedView">
        <mat-radio-button value="tabular" (click)="viewTabular()">Vue Tabulaire</mat-radio-button>
        <mat-radio-button value="calendar" (click)="viewCalendar()">Vue Calendaire</mat-radio-button>
    </mat-radio-group>
</div>

<mat-grid-list cols="3" rowHeight="200px" class="appointment-grid" *ngIf="selectedView ==='tabular'">
    <mat-grid-tile *ngFor="let appointment of appointments">
        <mat-card class="appointment-card" [ngClass]="{
        'status-planned': appointment.status === 'planned',
        'status-in_progress': appointment.status === 'in_progress',
        'status-completed': appointment.status === 'completed',
        'status-canceled': appointment.status === 'canceled'
      }" matTooltip="{{ appointment.description }}" matTooltipPosition="below">
            <mat-card-content class="appointment-content">
                <div class="clock-icon">
                    <mat-icon>access_time</mat-icon>
                </div>
                <h3 class="appointment-type">{{ appointment.appointment_type }}</h3>
                <p class="appointment-dates">
                    <strong>Date:</strong> {{ appointment.start_time | date : "shortDate"
                    }}<br />
                    <strong>Heure:</strong>
                    {{ appointment.start_time | date : "shortTime" }} -
                    {{ appointment.end_time | date : "shortTime" }}
                </p>
                <div class="appointment-status">
                    {{ getStatusViewValue(appointment.status) }}
                </div>
                <!-- Bouton à trois points pour le menu déroulant en bas -->
                <div class="menu-button-container">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>

                <!-- Menu déroulant -->
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Modifier</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </mat-menu>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<!-- Vue du calendrier -->
<div *ngIf="selectedView === 'calendar'">
    <div class="calendar-controls">
        <button (click)="navigate(-1)">Semaine Précédente</button>
        <button (click)="goToToday()">Aujourd'hui</button>
        <button (click)="navigate(1)">Semaine Suivante</button>
    </div>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="calendarEvents"
      (eventClicked)="handleEventClick($event)">
    </mwl-calendar-month-view>
 </div>

<mat-paginator [length]="totalAppointments" [pageSize]="10" showFirstLastButtons style="margin-top: 20px">
</mat-paginator>
