/* filepath: /Users/xsorcier/Desktop/GestionRH/src/app/pages/admin/orders/order-list/order-list.component.scss */
.order-list-container {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
}

th.mat-header-cell {
  font-weight: bold;
}

td.mat-cell {
  padding: 8px;
}

button[mat-icon-button] {
  margin-right: 8px;
}

.status-delivered {
  color: green;
  font-weight: bold;
}

.status-pending {
  color: orange;
  font-weight: bold;
}