<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="isOpen" class="custom-sidenav"
    (mouseenter)="mouseEnterSidenav()" (mouseleave)="mouseLeaveSidenav()">
    <div class="logo-container">
      <img src="assets/images/gop.png" alt="Logo" class="logo">
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/employements">
        <mat-icon>people</mat-icon>
        <span>Employés</span>
      </a>
      <a mat-list-item routerLink="/candidatures">
        <mat-icon>work</mat-icon>
        <span>Candidatures</span>
      </a>
      <a mat-list-item routerLink="/paies">
        <mat-icon>attach_money</mat-icon>
        <span>Paies</span>
      </a>
      <a mat-list-item routerLink="/formation">
        <mat-icon>event</mat-icon>
        <span>Formation</span>
      </a>
      <a mat-list-item routerLink="/performance">
        <mat-icon>assessment</mat-icon>
        <span>Performance</span>
      </a>
      <a mat-list-item routerLink="/documents">
        <mat-icon>description</mat-icon>
        <span>Documents</span>
      </a>
      <a mat-list-item routerLink="/conges">
        <mat-icon>event</mat-icon>
        <span>Congés</span>
      </a>
      <a mat-list-item routerLink="/rapports">
        <mat-icon>bar_chart</mat-icon>
        <span>Rapports</span>
      </a>
      <a mat-list-item routerLink="/profil">
        <mat-icon>account_circle</mat-icon>
        <span>Profil</span>
      </a>
      <a mat-list-item (click)="toggleNestedMenu()">
        <mat-icon>settings</mat-icon>
        <span>Configurations</span>
        <mat-icon class="expand-icon">{{ showNestedMenu ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div class="nested-menu" *ngIf="showNestedMenu">
        <a mat-list-item routerLink="/parametres" class="nested-link">
          <mat-icon>settings</mat-icon>
          <span>Paramètres</span>
        </a>
        <a mat-list-item routerLink="/compagnies" class="nested-link">
          <mat-icon>business</mat-icon>
          <span>Compagnies</span>
        </a>
      </div>
    </mat-nav-list>
    <div class="footer">
      <span>&copy; {{ currentYear }} Gestion RH</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span mat-icon-button (mouseenter)="mouseEnterButton()" (click)="mouseEnterButton()" (mouseleave)="mouseLeaveButton()" style="cursor: pointer; margin-top:8px;" *ngIf="currentUser">
        <mat-icon>menu</mat-icon>
      </span>
      <span><span class="sen">Gestion</span> <span class="guinar">RH</span></span>
      <span class="spacer"></span>
      <div class="auth-buttons" *ngIf="!isLoggedIn; else loggedInMenu">
        <a mat-button routerLink="/login" style="color: white; background-color:#f39c12;">Login</a>
        <a mat-button routerLink="/register" style="color: white; background-color:#f39c12;">Register</a>
      </div>
      <ng-template #loggedInMenu>
        <span style="font-size: 16px;">{{ userName }}</span>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="logout()">Déconnexion</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
