<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="isOpen" class="custom-sidenav"
    (mouseenter)="mouseEnterSidenav()" (mouseleave)="mouseLeaveSidenav()">
    <div class="logo-container">
      <img [src]="compagny?.url" alt="Logo" class="logo" />
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" *ngIf="currentUser?.can_see_dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Tableau de Bord et Statistiques</span>
      </a>

      <a mat-list-item routerLink="/admin/boutique">
        <mat-icon>sell</mat-icon>
        <span>Gestion Boutique</span>
      </a>

      <a mat-list-item routerLink="/admin/salon">
        <mat-icon>storefront</mat-icon>
        <span>Gestion Des Salons</span>
      </a>

      <a mat-list-item routerLink="/admin/ventes">
        <mat-icon>shop_card</mat-icon>
        <span>Gestion des Ventes</span>
      </a>
      <a mat-list-item routerLink="/admin/personnels">
        <mat-icon>person</mat-icon>
        <span>Gestion du Personnel</span>
      </a>
      <a mat-list-item routerLink="/admin/reservations">
        <mat-icon>receipt</mat-icon>
        <span>Gestion des réservations</span>
      </a>
      <a mat-list-item routerLink="/admin/availabilities">
        <mat-icon>schedule</mat-icon>
        <span>Gestion des Disponibilité</span>
      </a>
      <a mat-list-item routerLink="/admin/abonnements">
        <mat-icon>person</mat-icon>
        <span>Gestion des Clients</span>
      </a>
      <a mat-list-item routerLink="/admin/abonnements">
        <mat-icon>subscriptions</mat-icon>
        <span>Gestion des Abonnements</span>
      </a>
      <a mat-list-item routerLink="/admin/statistiques">
        <mat-icon>bar_chart</mat-icon>
        <span>Statistiques</span>
      </a>
      <!-- <a mat-list-item routerLink="/employements">
        <mat-icon>people</mat-icon>
        <span>Employés</span>
      </a>
      <a mat-list-item routerLink="/candidatures" (click)="showNestedMenuCandidat()">
        <mat-icon>work</mat-icon>
        <span>Candidatures</span>
        <mat-icon class="expand-icon">{{ showNestedMenu ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a> -->
      <!-- <div class="nested-menu" *ngIf="showNestedMenucandidats">
        <a mat-list-item routerLink="/annonces" class="nested-link">
          <mat-icon>announcement</mat-icon>
          <span>Annonces</span>
        </a>
        <a mat-list-item routerLink="/rendez-vous" class="nested-link">
          <mat-icon>schedule</mat-icon>
          <span>Rendez-vous</span>
        </a>
      </div> -->

      <!-- <a mat-list-item routerLink="/formation">
        <mat-icon>event</mat-icon>
        <span>Formation</span>
      </a>
      <a mat-list-item routerLink="/performance">
        <mat-icon>assessment</mat-icon>
        <span>Performance</span>
      </a>
      <a mat-list-item routerLink="/documents">
        <mat-icon>description</mat-icon>
        <span>Documents</span>
      </a>
      <a mat-list-item routerLink="/conges">
        <mat-icon>event</mat-icon>
        <span>Congés</span>
      </a>
      <a mat-list-item routerLink="/rapports">
        <mat-icon>bar_chart</mat-icon>
        <span>Rapports</span>
      </a> -->
      <a mat-list-item routerLink="/profil">
        <mat-icon>account_circle</mat-icon>
        <span>Profil</span>
      </a>
      <a mat-list-item (click)="toggleNestedMenu()">
        <mat-icon>settings</mat-icon>
        <span>Configurations</span>
        <mat-icon class="expand-icon">{{ showNestedMenu ? 'expand_less' : 'expand_more' }}</mat-icon>
      </a>
      <div class="nested-menu" *ngIf="showNestedMenu">
        <a mat-list-item routerLink="/parametres" class="nested-link">
          <mat-icon>settings</mat-icon>
          <span>Paramètres</span>
        </a>
        <a mat-list-item routerLink="/compagnies" class="nested-link">
          <mat-icon>business</mat-icon>
          <span>Compagnies</span>
        </a>
      </div>
    </mat-nav-list>
    <div class="footer">
      <span>&copy; {{ currentYear }} {{compagny?.name}}</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span mat-icon-button (mouseenter)="mouseEnterButton()" (click)="mouseEnterButton()" (mouseleave)="mouseLeaveButton()" style="cursor: pointer; margin-top:8px;" *ngIf="currentUser">
        <mat-icon>menu</mat-icon>
      </span>
      <span>{{compagny?.name}}</span>
      <span class="spacer"></span>
      <div class="auth-buttons" *ngIf="!isLoggedIn; else loggedInMenu">
        <a mat-button routerLink="/login" style="color: white; ">Login</a>
        <a mat-button routerLink="/register" style="color: white;">Register</a>
      </div>
      <ng-template #loggedInMenu>
        <span style="font-size: 16px;">{{ userName }}</span>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item routerLink="/profil">Profil</button>
          <button mat-menu-item (click)="logout()">Déconnexion</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
