<div mat-dialog-content class="modal-container">
  <!-- Partie gauche -->
  <div class="left-section">
    <img [src]="data.url" alt="Photo de l'employé" class="employee-photo" height="200" width="200" />
    <div class="employee-info">
      <h4>{{data.name}}</h4>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="viewCompany(data)" color="primary">Changer le logo</button>
      </div>
  </div>

  <!-- Ligne verticale -->
  <div class="divider"></div>

  <!-- Partie droite -->
  <div class="right-section">
    <p><strong>PAYS:</strong> {{data.countrie}} </p>
    <p><strong>REGION:</strong> {{data.city}} </p>
    <p><strong>ADDRESS:</strong> {{data.address}} </p>
    <p><strong>NUMERO DE TELEPHONE: </strong> {{data.phoneNumber}} </p>
    <p><strong>E-MAIL:</strong> {{data.email}} </p>
    <p><strong>Website:</strong> <a href="{{data.website}}">{{data.website}}</a></p>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Fermer</button>
</div>
