<div class="order-details-container" *ngIf="order">
  <h2>Détails de la commande</h2>
  <p><strong>Nom du client :</strong> {{ order.client_name }}</p>
  <p><strong>Téléphone du client :</strong> {{ order.client_phone }}</p>
  <p><strong>Adresse du client :</strong> {{ order.client_address }}</p>
  <p><strong>Total :</strong> {{ order.total }}</p>
  <p><strong>Etat de paiement :</strong>
    <span [ngClass]="{'status-delivered': order.paid === true, 'status-pending': order.paid === 'false'}">
      {{ order.paid === true ? 'Payé' : 'Non Payé' }}
    </span>
  </p>

  <p><strong>Statut :</strong> 
    <span [ngClass]="{'status-delivered': order.status === 'delivered', 'status-pending': order.status === 'pending'}">
      {{ order.status === 'delivered' ? 'Délivré' : 'En attente' }}
    </span>
    <button mat-button color="primary" class="mark-delivered-button" (click)="updateStatus('delivered')" *ngIf="order.status !== 'delivered'">
      Marquer comme livré
    </button>
  </p>
  <p><strong>Méthode de paiement :</strong> {{ order.payment_method }}</p>
  <p><strong>Téléphone mobile :</strong> {{ order.mobile_phone }}</p>
  <h3>Articles de la commande</h3>
  <table mat-table [dataSource]="order.order_items" class="mat-elevation-z8">
    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef> Nom du produit </th>
      <td mat-cell *matCellDef="let item"> {{item.product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="product_description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let item"> {{item.product.description}} </td>
    </ng-container>
    <ng-container matColumnDef="product_price">
      <th mat-header-cell *matHeaderCellDef> Prix </th>
      <td mat-cell *matCellDef="let item"> {{item.product.price}} </td>
    </ng-container>
    <ng-container matColumnDef="product_stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let item"> {{item.product.stock}} </td>
    </ng-container>
    <ng-container matColumnDef="shop_name">
      <th mat-header-cell *matHeaderCellDef> Boutique </th>
      <td mat-cell *matCellDef="let item"> {{item.product.shop.name}} </td>
    </ng-container>
    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef> Catégorie </th>
      <td mat-cell *matCellDef="let item"> {{item.product.category.name}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantité </th>
      <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Prix total </th>
      <td mat-cell *matCellDef="let item"> {{item.product.price}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['product_name', 'product_description', 'product_price', 'product_stock', 'shop_name', 'category_name', 'quantity', 'price']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['product_name', 'product_description', 'product_price', 'product_stock', 'shop_name', 'category_name', 'quantity', 'price'];"></tr>
  </table>
</div>