<div class="company-container">
  <mat-toolbar color="primary" class="toolbar">
    <span class="toolbar-title">Gestion des paies</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" class="create-button" (click)="creeNewPayment()">
      <mat-icon>add</mat-icon> Créer des paiements
    </button>
    <button mat-raised-button style="color: black; margin: 10px" class="delete-button" (click)="ValiderSelectedPayments()" [disabled]="selectedPayments.length === 0">
      <mat-icon>save</mat-icon> Valider les paiements
    </button>
  </mat-toolbar>


  <!-- Dans le template Angular -->
<div class="download-button-container">
  <button mat-raised-button [matMenuTriggerFor]="downloadMenu" color="primary" class="download-button">
    <mat-icon>download</mat-icon> Télécharger
  </button>
  <mat-menu #downloadMenu="matMenu">
    <button mat-menu-item (click)="downloadPayments()">
      <mat-icon>file_download</mat-icon>
      <span>CSV</span>
    </button>
    <button mat-menu-item (click)="downloadPdf()">
      <mat-icon>file_download</mat-icon>
      <span>PDF</span>
    </button>
  </mat-menu>
</div>


  <!-- Nouvelle div pour la table -->
  <div class="payments-table-container">
    <table mat-table [dataSource]="payments" class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="selectAll($event)" [checked]="isAllSelected()" [indeterminate]="isSomeSelected()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let payment">
          <mat-checkbox (change)="toggleSelection(payment)" [checked]="isAllSelected()"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Employee ID Column -->
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef> Employé </th>
        <td mat-cell *matCellDef="let payment"> {{payment.employee.first_name}}  {{payment.employee.last_name}}</td>
      </ng-container>

      <!-- Payment Date Column -->
      <ng-container matColumnDef="paymentDate">
        <th mat-header-cell *matHeaderCellDef> Date de paiement </th>
        <td mat-cell *matCellDef="let payment"> {{payment.payment_date | date}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Montant </th>
        <td mat-cell *matCellDef="let payment"> {{payment.amount | currency:'FCFA':'symbol':'1.2-2':'fr-FR'}} </td>
      </ng-container>

      <!-- Payment Method Column -->
      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef> Méthode de paiement </th>
        <td mat-cell *matCellDef="let payment"> {{payment.payment_method | uppercase}} </td>
      </ng-container>

      <!-- Reference Number Column -->
      <ng-container matColumnDef="referenceNumber">
        <th mat-header-cell *matHeaderCellDef> Numéro de référence </th>
        <td mat-cell *matCellDef="let payment"> {{payment.reference_number}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let payment"> {{getPaymentStatusViewValue(payment.status)}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let payment">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewPayment(payment)">
              <mat-icon>visibility</mat-icon>
              <span>Voir</span>
            </button>
            <button mat-menu-item (click)="editPayment(payment.id)">
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item (click)="downloadSinglePaymentPdf(payment.id)">
              <mat-icon>file_download</mat-icon>
              <span>Télécharger Facture</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>



      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'row-approved': row.status === 'paye'}"></tr>
    </table>
    <mat-paginator [length]="totalPayments"
        [pageSize]="10"
        showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="Ball-Tail">
  <p style="color: white">Veillez patienter un moment  😕 !!</p>
</ngx-spinner>
