<div class="company-container">
    <mat-toolbar color="primary" class="toolbar">
      <span class="toolbar-title">Gestion des Congés</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent"  class="create-button" (click)="demandeConges()">
        <mat-icon>add</mat-icon> Demande de Congés
      </button>
    </mat-toolbar>
</div>

<div class="leave-list">
    <h2>Liste des demandes de congés</h2>
    <table mat-table [dataSource]="congeList" class="mat-elevation-z8">

      <!-- Type de congé Column -->
      <ng-container matColumnDef="leave_type">
        <th mat-header-cell *matHeaderCellDef> Type de congé </th>
        <td mat-cell *matCellDef="let conge"> {{getLeaveViewValue(conge.leave_type)}} </td>
      </ng-container>

      <!-- Date de début Column -->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef> Date de début </th>
        <td mat-cell *matCellDef="let conge"> {{conge.start_date | date}} </td>
      </ng-container>

      <!-- Date de fin Column -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef> Date de fin </th>
        <td mat-cell *matCellDef="let conge"> {{conge.end_date | date}} </td>
      </ng-container>

      <!-- Nombre de jours Column -->
      <ng-container matColumnDef="days_taken">
        <th mat-header-cell *matHeaderCellDef> Nombre de jours </th>
        <td mat-cell *matCellDef="let conge"> {{conge.days_taken}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let conge">
            <span [ngClass]="getStatusColorClass(conge.status)" class="status-badge">
                {{ getLeaveStatusViewValue(conge.status) }}
            </span>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Actions </th>
        <td mat-cell *matCellDef="let conge" class="text-right">
          <button mat-mini-fab aria-label="valider congé" style="margin-right: 10px; background-color:rgb(6, 188, 255); color:black" *ngIf="this.currentUser.role=='admin'" (click)="validerConge(conge)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-mini-fab aria-label="voir congé" style="margin-right: 10px; background-color:orange">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-mini-fab aria-label="edit congé" color="accent"  style="margin-right: 10px;" *ngIf="conge.status=='en_attente' && currentUser.role=='employee'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab aria-label="edit congé" color="accent"  style="margin-right: 10px;" *ngIf="currentUser.role=='admin'">
            <mat-icon>edit</mat-icon>
          </button>
          <span class="spacer"></span>
          <button mat-mini-fab aria-label="supprimé conge" color="primary" *ngIf="conge.status=='en_attente' && currentUser.role=='employee'" (click)="deleteConge(conge.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab aria-label="supprimé conge" color="primary" *ngIf="currentUser.role=='admin'" (click)="deleteConge(conge.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalConges"
    [pageSize]="10"
    showFirstLastButtons>
</mat-paginator>
  </div>


