<div class="company-container">
    <mat-toolbar color="primary" class="toolbar">
      <span class="toolbar-title">Gestion des Congés</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent"  class="create-button" (click)="demandeConges()">
        <mat-icon>add</mat-icon> Demande de Congés
      </button>
    </mat-toolbar>
</div>
<div class="view-toggle-container">
  <mat-radio-group [(ngModel)]="selectedView" (ngModelChange)="onViewChange($event)">
    <mat-radio-button value="table">Vue tabulaire</mat-radio-button>
    <mat-radio-button value="calendar">Vue calendaire</mat-radio-button>
  </mat-radio-group>
</div>

<div class="leave-list" *ngIf="selectedView === 'table'">
    <h2>Liste des demandes de congés</h2>

    <div class="filter-container">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="searchCriteria.name" (ngModelChange)="onSearchCriteriaChange()" placeholder="Rechercher par nom">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Type de Congé</mat-label>
          <mat-select [(ngModel)]="searchCriteria.leaveType" (ngModelChange)="onSearchCriteriaChange()">
            <mat-option *ngFor="let type of leaveTypes" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date de début</mat-label>
          <input matInput [(ngModel)]="searchCriteria.startDate" (ngModelChange)="onSearchCriteriaChange()" [matDatepicker]="picker1" placeholder="Choisir une date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date de fin</mat-label>
          <input matInput [(ngModel)]="searchCriteria.endDate" (ngModelChange)="onSearchCriteriaChange()" [matDatepicker]="picker2" placeholder="Choisir une date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Statut</mat-label>
          <mat-select [(ngModel)]="searchCriteria.status" (ngModelChange)="onSearchCriteriaChange()">
            <mat-option *ngFor="let status of leaveStatuses" [value]="status.value">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="accent" (click)="resetSearch()">Réinitialiser</button>
      </div>

    <table mat-table [dataSource]="congeList" class="mat-elevation-z8">

      <!-- Type de congé Column -->
      <ng-container matColumnDef="leave_type">
        <th mat-header-cell *matHeaderCellDef> Type de congé </th>
        <td mat-cell *matCellDef="let conge"> {{getLeaveViewValue(conge.leave_type)}} </td>
      </ng-container>

      <!-- Date de début Column -->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef> Date de début </th>
        <td mat-cell *matCellDef="let conge"> {{conge.start_date | date}} </td>
      </ng-container>

      <!-- Date de fin Column -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef> Date de fin </th>
        <td mat-cell *matCellDef="let conge"> {{conge.end_date | date}} </td>
      </ng-container>

      <!-- Nombre de jours Column -->
      <ng-container matColumnDef="days_taken">
        <th mat-header-cell *matHeaderCellDef> Nombre de jours </th>
        <td mat-cell *matCellDef="let conge"> {{conge.days_taken}} </td>
      </ng-container>

      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef> Employé </th>
        <td mat-cell *matCellDef="let conge">
          {{ conge?.full_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let conge">
            <span [ngClass]="getStatusColorClass(conge.status)" class="status-badge">
                {{ getLeaveStatusViewValue(conge.status) }}
            </span>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Actions </th>
        <td mat-cell *matCellDef="let conge" class="text-right">
          <button mat-mini-fab aria-label="valider congé" style="margin-right: 10px; background-color:rgb(6, 188, 255); color:black" *ngIf="this.currentUser.role=='admin'" (click)="validerConge(conge)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-mini-fab aria-label="voir congé" style="margin-right: 10px; background-color:orange">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-mini-fab aria-label="edit congé" color="accent"  style="margin-right: 10px;" *ngIf="conge.status=='en_attente' && currentUser.role=='employee'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab aria-label="edit congé" color="accent"  style="margin-right: 10px;" *ngIf="currentUser.role=='admin'">
            <mat-icon>edit</mat-icon>
          </button>
          <span class="spacer"></span>
          <button mat-mini-fab aria-label="supprimé conge" color="primary" *ngIf="conge.status=='en_attente' && currentUser.role=='employee'" (click)="deleteConge(conge.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab aria-label="supprimé conge" color="primary" *ngIf="currentUser.role=='admin'" (click)="deleteConge(conge.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalConges"
    [pageSize]="10"
    showFirstLastButtons>
</mat-paginator>
</div>
<app-viewdetail-calendar *ngIf="selectedView === 'calendar'"></app-viewdetail-calendar>
