<h1 mat-dialog-title>Détails de l'Employé</h1>
<div mat-dialog-content class="modal-container">
  <!-- Partie gauche -->
  <div class="left-section">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR1bGGi3JK4IknHua3xDucgbe1ah0T2s2aQcm6AeXC5jEgRKKBz" alt="Photo de l'employé" class="employee-photo" />
    <div class="employee-info">
      <p><strong>Nom:</strong> {{ data.first_name }} {{ data.last_name }}</p>
      <p><strong>Téléphone:</strong> {{ data.phone }}</p>
      <p><strong>Email:</strong> {{ data.email }}</p>
    </div>
  </div>

  <!-- Ligne verticale -->
  <div class="divider"></div>

  <!-- Partie droite -->
  <div class="right-section">
    <p><strong>Poste:</strong> {{ data.position }}</p>
    <p><strong>Salaire:</strong> {{ data.salary | thousandSeparator}} Fcfa</p>
    <p><strong>Age:</strong> </p>
    <!-- Ajoutez d'autres champs ici -->
    <button mat-raised-button color="primary" (click)="viewDocument()" *ngIf="data.url">Voir le contrat</button>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Fermer</button>
</div>
