<div class="breadcrumb">
  <a mat-button routerLink="/employements" routerLinkActive="active-link"
    >Gestion des ventes</a
  >
  <span> > </span>
  <a
    mat-button
    routerLink="/paies"
    class="active"
    routerLinkActive="active-link"
    >Gestion des Clients</a
  >
</div>

<div class="company-container">
  <mat-toolbar class="toolbar">
    <span class="toolbar-title">Gestion des boutiques</span>
    <span class="spacer"></span>
    <button mat-raised-button class="create-button" (click)="createShop()">
      <mat-icon>add</mat-icon> Créer une boutique
    </button>
  </mat-toolbar>
</div>

<div class="container">
  <div>
    <app-list-boutique></app-list-boutique>
  </div>
</div>
