<div class="breadcrumb">
  <a mat-button routerLink="/employements" routerLinkActive="active-link">Employés</a>
  <span> > </span>
  <a mat-button routerLink="/paies" class="active" routerLinkActive="active-link">Paies</a>
</div>
<mat-card class="employee-count-card">
    <mat-card-content>
        <span>
            <span><h2>Total Employés</h2></span>
            <span><h4>{{nombre_employe}}</h4></span>
        </span>
    </mat-card-content>
</mat-card>

<mat-card class="summary-card">
  <mat-card-content class="summary-content">
      <div class="summary-section">
          <div class="circle">{{total_sales}}</div>
          <h3>Nombre total de ventes</h3>
      </div>
      <div class="summary-section">
          <div class="circle">{{pending_reservations}}</div>
          <h3>Nombre total de réservation en attente</h3>
      </div>
      <div class="summary-section">
          <div class="circle">{{total_subscriptions}}</div>
          <h3>Nombre de subsription aux cartes</h3>
      </div>
  </mat-card-content>
</mat-card>


<mat-card class="payment-stats-card">
  <mat-card-header>
    <mat-card-title>Statistiques des Paiements</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div echarts [options]="chartOptionsPaiement" class="payment-chart" style="height: 400px;"></div>
  </mat-card-content>
</mat-card>

<!-- Ajout des nouvelles sections pour les statistiques -->

<mat-card class="sales-by-channel-card">
  <mat-card-header>
    <mat-card-title>Ventes par Canal</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div echarts [options]="chartOptionsSalesByChannel" class="sales-by-channel-chart" style="height: 400px;"></div>
  </mat-card-content>
</mat-card>

<mat-card class="sales-trends-card">
  <mat-card-header>
    <mat-card-title>Tendances des Ventes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div echarts [options]="chartOptionsSalesTrends" class="sales-trends-chart" style="height: 400px;"></div>
  </mat-card-content>
</mat-card>

<mat-card class="top-sales-and-loyal-customers-card">
  <mat-card-header>
    <mat-card-title>Top Ventes et Clients Fidèles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div echarts [options]="chartOptionsTopSalesAndLoyalCustomers" class="top-sales-and-loyal-customers-chart" style="height: 400px;"></div>
  </mat-card-content>
</mat-card>

<mat-card class="sales-by-employee-card">
  <mat-card-header>
    <mat-card-title>Ventes par Employé</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div echarts [options]="chartOptionsSalesByEmployee" class="sales-by-employee-chart" style="height: 400px;"></div>
  </mat-card-content>
</mat-card>