<div class="breadcrumb">
    <a mat-button routerLink="/employements" routerLinkActive="active-link"
      >Gestion des ventes</a
    >
    <span> > </span>
    <a
      mat-button
      routerLink="/paies"
      class="active"
      routerLinkActive="active-link"
      >Gestion des Clients</a
    >
  </div>

  <div class="vente-container">
    <mat-toolbar class="toolbar">
      <span class="toolbar-title">Gestion des Ventes</span>
      <span class="spacer"></span>
      <button mat-raised-button class="create-button" (click)="openCreateVenteModal()">
        <mat-icon>add</mat-icon> Créer une vente
      </button>
    </mat-toolbar>
  </div>