<div class="breadcrumb">
    <a mat-button routerLink="/employements" routerLinkActive="active-link"
      >Gestion des ventes</a
    >
    <span> > </span>
    <a
      mat-button
      routerLink="/clients"
      class="active"
      routerLinkActive="active-link"
      >Gestion des Clients</a
    >
  </div>

  <div class="vente-container">
    <mat-toolbar class="toolbar">
      <span class="toolbar-title">Gestion des Ventes</span>
      <span class="spacer"></span>
      <button mat-raised-button class="create-button" (click)="openCreateVenteModal()">
        <mat-icon>add</mat-icon> Créer une vente
      </button>
      <button mat-raised-button class="canal-button" (click)="openCreateCanalModal()">
        <mat-icon></mat-icon> Créer Canal de vente
      </button>
      <button mat-raised-button class="payment-button" (click)="openCreatePaymentMethodeModal()">
        <mat-icon>paid</mat-icon> Créer methode paiement
      </button>
      <button mat-raised-button class="csv-button" (click)="exportToPdf()" style="margin-left: 10px;">
        <mat-icon>picture_as_pdf</mat-icon> Exporter PDF
      </button>
    </mat-toolbar>
  </div>

  <div class="container">
    <app-list-ventes></app-list-ventes>
  </div>