::ng-deep .company-container {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    padding: 20px;

    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      background-color: #3f51b5; // Couleur de fond de la barre d'outils
      padding: 10px;
    }

    .toolbar-title {
      font-size: 20px;
      font-weight: 500;
      color: white;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .create-button {
      margin-left: 10px;
    }

    .payments-table-container {
      overflow: auto;
      border-radius: 4px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 16px;

      table {
        width: 100%;
        border-collapse: collapse;

        th, td {
          text-align: left;
          padding: 8px;
        }

        th {
          background: #e0e0e0;
        }

        tr:nth-child(even) {
          background-color: #f9f9f9;
        }

      }

      .mat-header-cell, .mat-cell {
        padding: 16px;
      }

      .mat-header-cell {
        font-weight: bold;
      }
    }
    .row-approved {
      background-color: #d4edda; /* Couleur verte claire pour les lignes approuvées */
    }


    // styles.scss ou le SCSS spécifique de votre composant
    .download-button-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px; // Ajustez la marge selon vos besoins
      margin-bottom: 20px;
    }

    .download-button {
      margin-right: 10px; // Ajustez la marge si nécessaire
    }

  }

  $border-color: #ccc;
  $border-radius: 5px;
  $box-shadow-light: rgba(0, 0, 0, 0.1);
  $box-shadow-hover: rgba(0, 0, 0, 0.2);
  $margin: 10px;
  $padding: 15px;
  $column-width: calc(20% - #{$margin * 2}); // 4 colonnes par ligne

  .document-container {
    display: flex;
    flex-wrap: wrap; // Permet aux éléments de passer à la ligne suivante
    justify-content: flex-start; // Aligner les éléments à gauche

    .document-item {
      margin: $margin; // Espacement autour des éléments
      text-align: center; // Centrer le texte
      border: 1px solid $border-color; // Couleur de la bordure
      border-radius: $border-radius; // Arrondir les coins
      padding: $padding; // Espace interne
      box-shadow: 2px 2px 5px $box-shadow-light; // Ombre légère
      transition: box-shadow 0.3s; // Transition pour l'effet de survol
      flex: 0 0 $column-width; // Chaque élément prend 25% de la largeur de la ligne, sans flexibilité

      &:hover {
        box-shadow: 4px 4px 10px $box-shadow-hover; // Ombre plus forte au survol
      }
    }
  }

  // Ajustements pour les écrans plus petits
  @media (max-width: 768px) {
    .document-item {
      flex: 0 0 calc(50% - #{$margin * 2}); // 2 éléments par ligne sur des écrans moyens
    }
  }

  @media (max-width: 480px) {
    .document-item {
      flex: 0 0 calc(100% - #{$margin * 2}); // 1 élément par ligne sur des petits écrans
    }
  }

  .search-container {
    display: flex;  /* Utiliser Flexbox pour aligner les éléments sur la même ligne */
    align-items: center;  /* Centrer verticalement les éléments */
    gap: 16px;  /* Espace entre les éléments, ajustez la valeur selon vos besoins */
    margin-left: 20px;

    input[type="text"],
    input[type="date"] {
      padding: 8px;  /* Ajoutez du rembourrage à vos inputs pour un meilleur look */
      border: 1px solid #ccc;  /* Une bordure simple */
      border-radius: 4px;  /* Coins arrondis */
      font-size: 16px;  /* Taille de police */
      width: 200px;  /* Largeur fixe, ajustez selon vos besoins */
    }
  }
