<div class="profile-container">
  <div class="profile-details">
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>Profil de l'utilisateur</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="user-info">
          <div class="user-text">
            <p><strong>Nom :</strong> {{ currentUser.name }}</p>
            <p><strong>Email :</strong> {{ currentUser.email }}</p>
            <p><strong>Téléphone :</strong> {{ currentUser.phone }}</p>
            <p><strong>Adresse :</strong> {{ currentUser.address }}</p>
            <p><strong>Rôle :</strong> {{ currentUser.role }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="profile-password">
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>Changer le mot de passe</mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin-top: 10px;">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe actuel</mat-label>
            <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
            <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
              <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nouveau mot de passe</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirmer le nouveau mot de passe</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">
            Mettre à jour le mot de passe
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>