.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.mat-card {
  padding: 40px; // Réduction du padding pour un meilleur rendu
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.mat-card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.mat-card-content {
  padding: 16px;
}

.mat-form-field {
  width: 100%; // Assure que le champ prend toute la largeur
  margin-bottom: 16px;
}

.mat-form-field input {
  font-size: 1em; // Taille normale du texte
  padding: 12px; // Réduction du padding pour un rendu propre
}

button[mat-icon-button] {
  margin-left: -40px;
}

button[mat-raised-button] {
  margin-top: 16px;
  width: 100%;
}
